<script lang="ts" setup>
import { ref, computed } from "vue";
const feelings = ref(["angry", "cute", "excited", "pain", "shocked", "smile"]);
const currentFeeling = ref("smile");
const showcurrentFeeling = computed(() => {
  return (
    currentFeeling.value.toUpperCase().charAt(0) +
    currentFeeling.value.substring(1)
  );
});
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><v-img style="height 70vh" :src="`${currentFeeling}.png`"></v-img
      ></v-col>
      <v-col>
        <v-container>
          <v-row>
            <v-col cols="12">
              <div width="100%" class="text-h4 text-center">
                {{ showcurrentFeeling }}
              </div>
            </v-col>
            <v-col
              v-for="(feeling, index) of feelings"
              cols="12"
              width="100%"
              :key="index"
            >
              <v-btn
                width="100%"
                @click="currentFeeling = feeling"
                :class="{ btnActive: currentFeeling === feeling }"
                >{{ feeling }}</v-btn
              >
            </v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.btnActive {
  background-color: yellow;
}
</style>
