<script lang="ts" setup>
import Product from "../stores/product";
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const total = ref(0);
const order = ref<Product[]>([]);
function add(id: number, name: string, price: number) {
  order.value.push(new Product(id, name, price));
  total.value += price;
}
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6" style="overflow: auto; max-height: 90vh">
        <v-container>
          <v-row>
            <v-col
              cols="4"
              v-for="product of products"
              v-bind:key="product.id"
              class="text-center"
            >
              <v-card class="square-card">
                <div style="font-size: 2ch">{{ product.name }}</div>
                <div class="card-price">{{ product.price }}</div>
                <v-btn
                  class="card-btn"
                  @click="add(product.id, product.name, product.price)"
                  >ADD</v-btn
                >
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>
      <v-col cols="6">
        <v-container>
          <v-row style="overflow: auto; max-height: 70vh">
            <v-col cols="12">
              <v-table>
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="order.length === 0">
                    <td colspan="3" class="text-center">No Data</td>
                  </tr>
                  <tr v-for="(product, index) of order" v-bind:key="index">
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" class="text-h2">Sum: {{ total }}</v-col>
          </v-row>
        </v-container>
      </v-col>
    </v-row>
  </v-container>
</template>
<style scoped>
.square-card {
  width: 200px;
  object-fit: contain;
  height: 200px;
}
.card-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 50%;
  text-align: center;
  display: block;
}
.card-price {
  position: absolute;
  font-size: 2ch;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
